.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  width: 100%;

  padding: 1.4rem 1.5rem;

  .wrapper {
    max-width: 58.2rem;
    width: 100%;
    margin-left: auto;
  }
}

.shopping-cart-content {
  color: var(--white);

  display: flex;
  align-items: flex-end;

  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;

  margin-left: auto;
  position: relative;

  svg {
    margin-right: 0.6rem;
  }

  .cart-items {
    padding: 0 0.4rem;
    background-color: #2185d5;

    position: absolute;
    top: -0.5rem;
    left: 0.7rem;

    color: var(--white);
    font-weight: 600;
    border-radius: 0.3rem;
    font-size: 1rem;
  }

  @media (max-width: 576px) {
    margin-left: 1.5rem;
  }
}
